body {
    background: lightwhite;
}
a, a:visited {
    color: #444;
}
.logo {
    padding: 20px;
    margin: 20px;
}
.logo h1 {
    color: #222;
}

.burger-menu {
    display: block;
    padding: 10px;
    }
 
.main-menu {
    background: black;
    
}
.nav {
   display: none;
}
.main-menu a:hover {
    color: white;
}
.main-menu a {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    

}
.main-menu li {
    background-color: gray;
    margin: 5px;
    border-radius: 5px;
}

.main-menu .active {
   display: block;
}
.md-textarea {
    width: 700px;
    height: 200px;
}


footer {
    background: black;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 15px;
}




@media screen and (min-width: 900px){
    
   .nav {
   display: block;
}
    
    .nav ul {
        display: inline-block;
    }
    
    .main-menu li {
        display: inline-block;
    }
    .burger-menu {
        display: none;
    }
    
}
